<form class="form-signin col-md-6 offset-md-3 text-center" method="post">
      <h1 class="h3 mb-3 font-weight-normal">
            LOGIN
        </h1>
        <input type="email" name="email" value="" class="form-control" placeholder="Email" autofocus="" required="">
        <br/>
        <input type="password" name="password" value="" class="form-control" placeholder="password" required="">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign In
        </button>
</form>