<form class="form-signin col-md-6 offset-md-3 text-center" method="post">
    <h1 class="h3 mb-3 font-weight-normal">
        NEW ACCOUNT
    </h1>
    {{#each errorMessages}}
        <div class="alert alert-danger">
        {{this.msg}}
        </div>
    {{/each}}
    <input autofocus="" class="form-control" name="name" placeholder="Name" required="" type="text" value="">
    <br/>
    <input autofocus="" class="form-control" name="email" placeholder="Email" required="" type="email" value="">
    <br/>
    <input class="form-control" name="password" placeholder="password" required="" type="password" value="">
    <br/>
    <input class="form-control" name="confirmPassword" placeholder="Confirm password" required="" type="password" value="">
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign Up
    </button>
    <br />
    <h4>OR</h4>
    <br />
    <a href="/auth/facebook" class="btn btn-lg btn-success btn-block"> Sign Up with Facebook</a>
</form>